@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
body{
  margin: 0;
}
.whole_containe{
  max-width: 968px ;
  width: calc(100 - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
  .myar_container{
    display: grid;
    grid-gap: 2rem;
    
  }
.info_bar {
     position: relative;
     display: flex;
     transform: translateX(9.5rem);
     display: none;
      /*  background: linear-gradient(130deg,#FF0000,#2100FF,#F500FF);*/
      outline: none;
      border-radius: 100%;
      height: auto;
      width: auto;
      padding: 3px 3px 0px 3px;
      animation: animating 3s linear infinite;
      position: relative;
      background-size: 200% 200%;
      transition: .5s;
   }
.gradient{
  width: 95px;
  height: 90px;
  background: linear-gradient(130deg,#F500FF,#FF0073,#FF0000,#3A00FF,#C200FF);
  animation: animated 4s linear infinite;
  display: inline-block;
  background-size: 500% 500%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  top: 40px;
  backdrop-filter: blur(10px);
}
@keyframes animating{
  25%{
    background-position: top right;
  }
  50%{
    background-position: top bottom;
  }
  75%{
    background-position:  right left;
  }
  100%{
    background-position:left bottom;
    
  }
  }
  .a_pu{
      border-radius: 50%;
      position: relative;
      width: 85px;
      height: 80px;
      filter: blur(3px);
      transition: 1s;
  }
  .container{
    display: flex;
    justify-content: space_evenly;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    max-width: 282px;
    height: auto;
    backdrop-filter: blur(10px);
  }
  .whole_container{
    background-color: #000000;
    background-image: url(disco-dba865f1.png);
    background-size: cover;
    background-position-X: -65rem;
  }

  
  .sub_container{
    background: linear-gradient(130deg, rgba(251, 251, 254, .11218), rgba(251, 251, 254, .0781235));
    position: relative;
    width: 280px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 5px 5px 0 0;
    box-shadow: inset 2px 2px 0 rgba(251, 251, 254, .2555),
                inset -2px 2px 0 rgba(251
              , 251, 254, .235);
    border-bottom: none;
  }
  .description{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding-top: 50px;
    margin-top: -20px;
    font-variant: small-caps;
    font-size: 20px;
  }
  .social_icon{
    position: relative;
    transform: translateY(-12.5rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.35rem;
    height: 130px;
    justify-content: space-between;
  }
  .card_link{
    display: flex;
    justify-content: space-between;
    position: relative;
    transform: translateX(-10rem);
  }
  .card_link:nth-child(1){
    transition: .5s;
  }
  .card_link:nth-child(2){
    transition: 1s;}
  .card_link:nth-child(3) {
    transition: 1.5s;}
  .card_link:nth-child(4) {
    transition: 2s;
  }  
    .container:hover .card_link{
      transform: translateX(-7rem);
    }
     
    .container:hover .a_pu{
      filter: blur(0);}
    .container:hover .info_bar{
      display: block;
      transform: translateX(7rem);
   
    }
     @keyframes animated {
      25%{
        background-position: top right;
      }
      50%{
        background-position:  left right;
      }
      75%{
        background-position: top bottom;
      }
      100%{
        background-position: right bottom;
      }
    }
    .card_social{
      outline: none;
    }
    .bg_social{
      background: linear-gradient(240deg, #006FFF, #B100FF, #FF0000, #FF0000);
      border-radius: 50%;
      animation: animated 4s linear infinite;
      position: relative;
      background-size: 200% 200%;
    }
    @keyframes animated {
      25%{
        background-position: top right;
      }
      50%{
        background-position:  left right;
      }
      75%{
        background-position: top bottom;
      }
      100%{
        background-position: right bottom;
      }
    }
  .middle{
    background: linear-gradient(135deg, rgba(251, 251, 254, .099979), rgba(251, 251, 254, .069231));
    width: 120px;
    height: 160px;
    padding: 0 80px;
    box-shadow: inset 2px 0px   rgba(251, 251, 254, .3),
                inset -2px -2px   rgba(251
              , 251, 254, .2);
    border-radius: 0 0 5px 5px;
   border-top: none;;
  }
  .middle_hover{
    background: rgba(251, 251, 254, .7);
    transform: translateY(-4rem);
  }
  .no_more{
    margin: 0 auto;
    display: flex;
    top: -10%;
    flex-wrap: nowrap;
    width: 100%;
    height: 20px;
    justify-content: center;
  }
  h3{
    padding-top: 7px;
    letter-spacing: 1.5px;
  }
  .card_circle{
    background: linear-gradient(130deg, rgba(225, 250, 33, .5122345), rgba(88, 68, 122, .3101231));
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
  }
  .circle_one{
    box-shadow: inset 40px 40px  40px  rgba(251, 251, 254, .43),
                inset -40px -40px 40px  rgba(251
              , 251, 254, .43);

    top: 5%;

    left: 1%;
}
.card_circle2{
    bottom: -10%;
    right: -15%;
}
.circle_two{
  position: absolute;
    bottom: 1%;
    right: 1%;
    background: linear-gradient(130deg,
                  rgba(135, 193, 87, 0.856),
                     rgba(226, 87, 67, 0.339));
                border-radius: 50%;
    box-shadow: inset 20px 20px  20px  rgba(251, 251, 254, .43),
                inset -200px -20px 20px  rgba(251
              , 251, 254, .3);
}
@media screen and (max-width: 968px){
  .whole_containe{
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 100vh;
  }
}
  @media screen and (min-width: 768px){
.myar_container{
   margin-left: auto;
   margin-right: auto;
   height: 100vh;
}   
.myar_container {
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
}
   .card_circle1{

        left: 1%;

        top: 12%;
    }
    .card_circle2{
        right: 12%;
        bottom: -5%;
    }
}
html{
  scroll-behavior: smooth;
}

  
